
    /* ======== VARIÁVEIS ======== */
    :root {
      --roxo-escuro: #31255e;
      --roxo-claro: #6654d1;
      --branco: #fff;
      --cinza-fundo: #f7f7f7;
      --cinza-texto: #333;
      --transicao: all 0.3s ease;
    }

    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      font-family: 'Poppins', 'Segoe UI', sans-serif;
      color: var(--cinza-texto);
      background: linear-gradient(135deg, #f8f5ff, #f7f7f7);
      scroll-behavior: smooth;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
    /* ======== FOOTER ======== */
    footer {
      text-align: center;
      padding: 2rem 1rem;
      color: #777;
      font-size: 0.9rem;
      margin-top: 4rem;
      /* background: #f3f3f3; */
    }

    footer a {
      color: var(--roxo-escuro);
      font-weight: 500;
      margin: 0 0.3rem;
      transition: color 0.3s;
    }

    footer a:hover {
      color: var(--roxo-claro);
    } 
@font-face {
  font-family: 'pixel';
  src: url('assets/Jacquard12-Regular.ttf') format('truetype');
}
.textoeilustracao {
  display: flex;
  align-items: center;        /* centraliza verticalmente */
  justify-content: center;    /* centraliza horizontalmente */
  gap: 4.5rem;                /* diminui o espaço entre texto e imagem */
  margin-top: 4rem;           /* controla a posição no meio da página */
}

/* remove a margem extra do título */
.portfolio-title {
  color: var(--roxo-escuro);
  font-family: pixel, sans-serif;
  text-align: left;
  margin: 0;                  /* antes era margin-top: 2rem */
}

/* PORTFÓLIO sozinho */
.linha {
  display: block;
  font-size: 6rem;
  line-height: 1;
}

/* DA + Esther lado a lado */
.linha-grupo {
  display: flex;
  align-items: flex-start;
  gap: 0.3rem;                /* aproxima DA do Esther */
  margin-top: 0.3rem;
}

.linha2 {
  font-size: 4rem;
  line-height: 1;
}

.linha3 {
  font-size: 8rem;
  line-height: 1;
}

/* deixa a imagem mais equilibrada, opcional */
.construction {
  max-width: 260px;
  height: auto;
}
.iconesrodape {
  margin-top: 4rem;
  display: flex;
  gap: 5.5rem;
}

.icone {
  width: 40px;
  height: 40px;
  fill: var(--roxo-escuro); /* muda todos */
  cursor: pointer;
  transition: 0.3s;
}

.icone:hover {
  fill: var(--roxo-claro);
}

.container-rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}